use flake

watch_file .envrc.private
if [[ -f .envrc.private ]]; then
  source_env .envrc.private
else
  echo "copy .envrc.private-template to .envrc.private and follow the instructions in this file"
fi
